@page "/"

<PageTitle>Index</PageTitle>

<div class="main-header">
  <!-- <h1>Profit Buddy</h1> -->
  <h1>An attempt at a rough-estimate live tax calculator.</h1>
</div>

<div class="learn-container">
  <div class="learn-header">
    <h4>Learn More About Tax Rates</h4>
  </div>
  <div class="learn-2-col">
    <div class="learn-2-col-item">
      <h5>Short Term</h5>
      <p>Short term capital gains are taxed at the same rate as your ordinary income. This means that if you are in the 22% tax bracket, your short term capital gains will also be taxed at 22%.</p>
    </div>
    <div class="learn-2-col-item">
      <h5>Long Term</h5>
      <p>Long term capital gains are taxed at a lower rate than your ordinary income. This means that if you are in the 22% tax bracket, your long term capital gains will be taxed at 15%.</p>
      <p>The chart for all of the capital gains tax rates can be found <a href="https://www.nerdwallet.com/article/taxes/capital-gains-tax-rates" target="_blank">here</a>.</p>
    </div>
  </div>
</div>


@code {



}
