@page "/"

<PageTitle>Index</PageTitle>

<div class="main-header">
  <h1>Profit Buddy</h1>
  <p>Your rough estimate live tax calculator for short term equities and 1256 contracts!<p>
</div>

<Equities />



@code {

}
